{% extends 'base.html' %}
{% load static %}

{% block title %}Movie{% endblock title %}


{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<style>
    .player::-webkit-progress-bar .player::-moz-progress-bar {
        color: red;
    }
</style>
{% endblock others %}


{% block content %}
{% include 'partials/_navbar.html' %}
<main class='bg-primary_black h-full w-full '>
    {{ movie |json_script:'movie_data'}}
    <video src="" controls class="w-full h-screen player"></video>

</main>
<script>
    const videoElement = document.querySelector('video')
    const movie_data = JSON.parse(document.getElementById('movie_data').textContent)

    const url = new URL(location.href)

    const videoParams = parseInt(url.searchParams.get('api')) ? parseInt(url.searchParams.get('api')) : 0
    videoElement.src = `${location.protocol}//${location.host.replace(location.pathname)}/media/${movie_data[videoParams].file}`
</script>
{% endblock content %}